/*
 * table.css
 * Author: Lily Li
 */

@import "../../css/theme.css";

@media(max-width: 800px){
    #table-section{
        width: 100vw;
        height: 250px;
    }
    #table-div{
        flex-direction: column;
        height: fit-content
    }
}
@media(min-width: 801px){
    #table-section{
        width: 33.3vw;
        height: 250px;
    }
    #table-div{
        flex-direction: row;
        height: 250px;
    }
}

#table-div{
    width: 100vw;
    background-color: var(--darkblue);
    border-collapse: collapse;

    display: flex;
    margin: 0;  
}

#table-section{
    z-index: 50;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly !important;
    align-items: center !important;
}
.table-border-section{
    z-index: 50;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly !important;
    align-items: center !important;
}
.table-border-section:after {
    content: '';
    display: block;
    position: absolute;
    height: 120px;
    top: calc(50% - 60px);
    left: -0.5px;
    border: 0.1px solid white;
}

#table-cell-section{
    width: 100vw;
    height: fit-content;
    z-index: 50;
    padding: 50px 10vw;
}

/* #table-cell-background_img{
    position: absolute;
    opacity: 0.1;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    z-index: -1;
} */

#table-cell-background-img{
    position: absolute;
    opacity: 0.25;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

#table-cell{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    background-color: var(--darkblue);
    overflow: hidden!important;
}

#table-cell-div{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    background-color: var(--lightblue);
    padding: 30px 0;
    overflow: hidden!important;
}

#table-cell-img{
    opacity: 0.5;
    z-index: -1;
    width: 90vw;
    height: 300px;
    object-fit: cover;
    z-index: 50;
}

#table-cell-img-section{
    background-color: var(--lightblue);
    width: 100vw;
    padding: 40px 0;
}
#table-cell-img{
    height: 75px;
    width: auto;
    opacity: 0.9;
}

#img-section{
    display: flex;
    flex-direction: row;
    margin: 20px;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: center;
    padding: 0px 10%;
}

#img-section > *+* {
    margin-top: 20px;
}