/*
 * tablerow.css
 * Author: Lily Li
 */

@import "../../theme.css";

@media (max-width: 800px){
    .tablerow-div {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .tablerow-img {
        width: 70vw !important;
        height: 70vw !important;
        padding: 0;
    }

    .tablerow-detail {
        width: 100%;
        height: fit-content;
    }
}
@media (min-width: 801px){
    .tablerow-div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .tablerow-img {
        width: 25vw !important;
        height: 25vw !important;

        padding: 0 !important;
    }

    .tablerow-detail {
        width: 55%;
        height: fit-content;
    }
}