.supportus-form {
    width: 50%;
    height: fit-content;

    margin: auto;

    margin-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.form-row {
    width: 100%;
}

.form-label {
    width: 100% !important;
    text-align: left;
}

.form-input {
    width: 100% !important;
}

.form-textarea {
    width: 100%;
    height: 200px;
}

.form-chekcbox-div {
    width: 100%;
    height: fit-content;

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    gap: 20px;

    background-color: var(--industrial-blue-light);
}

.form-chekcbox-row {
    width: 100% !important;
    height: fit-content;

    margin: auto;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.form-chekcbox-row h6 {
    width: 80%;
    text-align: left;
    margin: 0;

    color: var(--cloud)
}