/*
 * forms.css
 * Author: Lily Li
 */

@import '../../theme.css';
 
@media (max-width: 768px) {
    .form-div {
        width: 100%;
        height: fit-content;
    
        margin: auto;
    
        margin-top: 40px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
    .form-chekcbox-row h6 {
        width: 100%;
        text-align: left;
        margin: 0;
    
        color: var(--cloud)
    }
}

@media (min-width: 769px) {
    .form-div {
        width: 50%;
        height: fit-content;
    
        margin: auto;
    
        margin-top: 40px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
    .form-chekcbox-row h6 {
        width: 80%;
        text-align: left;
        margin: 0;
    
        color: var(--cloud)
    }
}

.form-row {
    width: 100%;
}

.form-label {
    width: 100% !important;
    text-align: left;
}

.form-input {
    width: 100% !important;
}

.form-textarea {
    width: 100%;
    height: 200px;
}

.form-chekcbox-div {
    width: 100%;
    height: fit-content;

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    gap: 20px;

    background-color: var(--industrial-blue-light);
}

.form-chekcbox-row {
    width: 100% !important;
    height: fit-content;

    margin: auto;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.form-div {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-div input[type=text],
.form-div input[type=date],
.form-div input[type=datetime],
.form-div input[type=number],
.form-div input[type=search],
.form-div input[type=time],
.form-div input[type=url],
.form-div input[type=email],
.form-div select, 
.form-div textarea {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 2px solid var(--illini-blue);
	outline: none;
	color: var(--illini-blue);
	padding: 5px 8px 5px 8px;
	background: var(--cloud);
}

.form-div ::placeholder {
    color: var(--cloud-darkest);
}

.form-div input[type="checkbox"] {
    height: 100;
    border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid var(--industrial-blue-light);
	outline: none;
	color: var(--illini-blue);
	padding: 5px 8px 5px 8px;
	background: var(--cloud);
}